html,
body {
	height: 100%;
}
body {
	font-family: "Montserrat", sans-serif;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
.main {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}
.footer {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}
button {
	border: 0;
	background: 0;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
a {
	display: inline-block;
	color: inherit;
}
.title {
	font-weight: 600;
	font-size: 48px;
	line-height: 59px;
	text-transform: uppercase;
	color: #ffffff;
}
.title-second {
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 106px;
	min-height: 26px;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	padding: 6px 16px;
}
.btn img {
	margin: -1px 3px 0 0;
}

.header--wite {
	background: #fff;
}

.header--black {
	background: #252525;
}
.header--green {
	background: #6dc6a8;
}
.header--bg1 {
	min-height: 100vh;
	background: url(../images/header-bg1.jpg) no-repeat center top / cover;
	display: flex;
	flex-direction: column;
}
.black {
	background: #4e4e4e;
}
.blue{
	background: #2C353F;
}
.wite{
	background: #fff;
}
.header__top {
	background: #f7f7f7;
	padding: 4px 0;
}
.header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 24px 0;
}
.header__inner--center {
	justify-content: center;
}
.header__inner--direction {
	flex-direction: column;
	justify-content: center;
}
.header__line {
	width: 100%;
	background: #e8e8e8;
	height: 1px;
	margin: 20px 0 32px 0;
}
header__line--black {
	background: #c8c8c8;
}
.header__phone {
	position: relative;
	font-size: 12px;
	color: #ffffff;
	padding-left: 20px;
	margin: 5px 50px 0 auto;
}
.header__phone--margin {
	margin: -1px 0 0 0;
}
.header__phone::before {
	content: "";
	background: url(../images/phone.svg) no-repeat;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 2px;
	left: 0;
}
.header__phone--black {
	color: #252525;
}
.header__phone--black::before {
	background: url(../images/phone-black.svg) no-repeat;
}
.header__social--margin {
	margin-right: 50px;
}
.header__menu--margin {
	margin: 0 54px 0 auto;
}
.header__menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.header__menu-item {
	position: relative;
}
.header__menu-item--black::before {
	content: "";
	background: #000;
	position: absolute;
	top: 6px;
	right: -29px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.header__menu-item--wite::before {
	content: "";
	background: #fff;
	position: absolute;
	top: 6px;
	right: -29px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.header__menu-item {
	margin-right: 54px;
}
.header__menu-item:last-child {
	margin-right: 0;
}
.header__menu-link {
	position: relative;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.header__menu-link:hover {
	color: #f2d122;
}
.header__menu-link--black {
	color: #787878;
}
.header__menu-link--wite {
	color: #fff;
}
.header__burger {
	display: none;
}
.header__btn--black {
	color: #fff;
	background: #252525;
}
.header__btn--wite {
	color: #252525;
	background: #fff;
}
.header__btn--border,
.header__btn--borderb {
	background: #fff;
	border: 1px solid #252525;
	padding: 5px 15px;
	margin-left: 8px;
}
.header__btn--borderb {
	color: #fff;
	border: 1px solid #fff;
	background: transparent;
	transition: all 0.4s linear;
}
.header__btn--borderb:hover {
	background: #fff;
	color: #252525;
}
.header__burger-icon--black span,
.header__burger-icon--black::before,
.header__burger-icon--black::after {
	background: #000;
}
.header__burger-icon--wite span,
.header__burger-icon--wite::before,
.header__burger-icon--wite::after {
	background: #fff;
}
.header__copy {
	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
	color: #5a5a5a;
}
.header__social {
	display: flex;
}
.header__social-item {
	margin-right: 30px;
}
.header__social-item:last-child {
	margin-right: 0;
}
.header__content {
	width: 100%;
	max-width: 748px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 300px;
	text-align: center;
	margin: auto;
}
.header__overtitle {
	width: 100%;
	max-width: 257px;
	min-height: 22px;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #ffffff;
	background: #f3605c;
	padding: 4px 28px;
	margin: 0 auto 27px auto;
}
.header__title {
	margin-bottom: 20px;
}
.header__text {
	width: 100%;
	max-width: 610px;
	font-size: 20px;
	line-height: 155%;
	text-align: center;
	color: #ffffff;
	margin: 0 auto 54px auto;
}
.header__buttons {
	width: 100%;
	max-width: 342px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}
.header__inner--padding {
	position: relative;
	padding: 30px 0;
}
.line {
	background: #fff;
	height: 1px;
	width: 100%;
}
.header__content-btn {
	width: 100%;
	max-width: 158px;
	min-height: 35px;
}
.counter {
	padding: 300px 0;
	min-height: 100vh;
}
.counter__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.counter__logo {
	margin-bottom: 77px;
}
.counter__info {
	width: 100%;
	max-width: 727px;
	min-height: 200px;
	background: #0f0f0f;
	padding: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.counter__text {
	font-size: 24px;
	line-height: 140%;
	color: #ffffff;
}
.counter__title {
	color: #fff;
	margin-bottom: 88px;
	text-align: center;
}
.counter__cards {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.counter__card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 270px;
	min-height: 182px;
	text-align: center;
	border: 1px solid #a5a5a5;
	padding: 15px;
	margin: 5px;
}
.counter__card:hover {
}

.counter__card-title {
	color: #fff;
	margin: 18px 0 4px 0;
}
.counter__card-text {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #a0a0a0;
}
.counter__items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.counter__item{
	text-align: center;
	margin: 10px;
}
.counter__item-title {
	font-size: 44px;
	line-height: 54px;
	color: #ffffff;
	padding: 20px 0 7px 0;
}
.counter__item-text {
	position: relative;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #a0a0a0;
	padding-bottom: 36px;
}
.counter__item-text::before{
	content: '';
	background: #32B6E6;
	height: 1px;
	width: 68px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
@media (max-width: 985px) {
	.header__burger-icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.header__burger-icon span,
	.header__burger-icon::before,
	.header__burger-icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
	}
	.header__burger-icon::before,
	.header__burger-icon::after {
		content: "";
	}

	.header__burger-icon::before {
		top: 0;
	}
	.header__burger-icon::after {
		bottom: 0;
	}
	.header__burger-icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.header__burger-body {
		position: fixed;
		top: 0px;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgb(153 74 17 / 9%);
		padding: 133px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.header__inner--direction {
		flex-direction: inherit;
		justify-content: space-between;
	}
	.header__line {
		display: none;
	}
	.header__burger-body--black {
		background-color: rgb(0 0 0 / 91%);
	}
	.header__btn--border,
	.header__btn--borderb {
		margin-left: 0;
	}
	.header__burger-body.active {
		left: 0;
	}

	.header__burger {
		display: block;
	}
	.header__menu-item {
		margin: 0 0 30px 0;
	}
	.header__menu-item:last-child {
		margin-bottom: 0;
	}
	.header__menu {
		display: none;
	}
	.mobail {
		display: flex;
	}
	.btn {
		display: none;
	}
	.header__btn--mobail {
		display: flex;
		margin-top: 30px;
	}
	.header__social,
	.header__phone {
		margin-top: 30px;
	}
	.header__menu-list {
		display: block;
	}
	.mobail-none {
		display: none;
	}
}
@media (max-width: 590px) {
	.counter__card{
		width: 100%;
		margin: 0 0 10px 0;
	}
}
@media (max-width: 425px){
	.counter__item{
		width: 100%;
		margin: 0 0 40px 0;
	}
}
@media (max-width: 575px) {
	.header {
		padding: 2px 0;
	}
}
